form.b-entry-editor(name='EntryForm')
    .b-entry-editor--entry.b-entry
        h1.b-entry--title(contenteditable='true', ng-model='entry.title')
        p.b-entry--content(contenteditable='true', ng-model='entry.content')

.b-entry-model {{entry}}
