!!! 5
html(lang='en', ng-app="app")

    head

        block head-styles
            link(rel='stylesheet', href='/css/bootstrap.css')
            style
            :less
                html {
                    position: relative;
                    height: 100%; min-height: 100%;
                }
                body {
                    position: absolute;
                    width: 100%; max-width: 100%;
                    height: 100%; min-height: 100%;
                    background: #eee;
                }

                .container {
                    width: 100%; max-width: 100%;
                    padding: 0 30px;
                }
                .b-header {
                    &--navbar {
                        padding: 15px 0;
                    }
                }
                .b-view {
                    position: relative;
                    height: 100%; min-height: 100%;
                    padding: 80px 50px 50px;
                }

                .b-entry {
                    &-editor {
                        margin: 0 -20px; margin-bottom: 20px;
                        padding: 30px 20px;
                        background: #fff;
                        &--entry {
                            padding: 0 15px;
                            .b-entry--title,
                            .b-entry--content {
                                outline: 1px dashed #ddd;
                            }
                        }
                    }
                    &-model {
                        margin-top: 50px;
                        padding: 15px;
                    }

                    &--title {
                        margin: 15px 0;
                        margin-left: -0.05em;
                    }

                    &--content {
                        &, & > div {
                            margin: 5px 0;
                        }
                    }
                }

        block head-scripts
            script(src='/js/libs/angular/angular.min.js')
            script(src='/js/libs/angular/angular-resource.min.js')
            script(src='/js/libs/angular/angular-route.min.js')

            script
            :coffeescript

                app= angular.module 'contenteditable', []

                app.directive 'contenteditable', ($parse, $compile) ->
                    directive=
                        restrict: 'A'
                        require: '?ngModel'
                        link: ($scope, $e, $a, ngModel) ->
                            return if not ngModel
                            $scope.$watch $a.ngModel, (html) ->
                                if html != $e.html()
                                    $e.html ngModel.$viewValue
                            $e.bind 'input', (evt) ->
                                html= $e.html()
                                $scope.$apply ->
                                    ngModel.$setViewValue html

                app= angular.module 'app', ['contenteditable', 'ngResource', 'ngRoute'], ($routeProvider) ->

                    $routeProvider.when '/',
                        controller: 'IndexRouteCtrl', templateUrl: '/partials/'

                app.factory 'Entry', ($resource) ->
                    $resource '/api/entry/:entry', {entry:'@id'}

                app.controller 'IndexRouteCtrl', ($scope, Entry) ->
                    console.log 'index'
                    $scope.entry= new Entry
                        title: """
                            Lorem Ipsum
                        """
                        content: """
                            <div><b>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</b></div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non porttitor dolor. Sed elementum sit amet elit in imperdiet. Cras euismod urna vulputate, porttitor nisl non, scelerisque augue. Duis vitae pretium leo. Praesent elementum accumsan faucibus. Nam vulputate arcu sit amet elit luctus, eget pretium diam rhoncus. Etiam sed tristique tellus, sit amet placerat ante. Quisque sed arcu posuere, accumsan augue ac, hendrerit velit. Quisque aliquam volutpat ipsum, non sollicitudin mi tempus quis. Aliquam nisl nulla, lobortis id est eget, aliquam posuere ligula. Morbi gravida in neque a malesuada.</div>
                            <div>Duis et enim vitae mi tincidunt vestibulum tempor sed turpis. Suspendisse potenti. Maecenas lorem leo, pharetra sed elit a, euismod placerat risus. Aliquam rutrum in est et lobortis. Curabitur euismod magna eu blandit euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam porttitor ornare mollis. Ut ac massa eu diam egestas commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed placerat dapibus dui quis porttitor. Nam felis libero, pharetra non neque in, sodales tempus nibh. Curabitur interdum erat quis risus molestie, id ornare orci tempor. Phasellus cursus elementum nulla at euismod. Sed vel eros purus.</div>
                        """


    body

        header.b-header--navbar.navbar.navbar-fixed-top(role='banner')
            .container

                .b-header--navbar-header.navbar-header
                    a.navbar-brand(href='./') angular-contenteditable

                nav.b-header--navbar-collapse.navbar-collapse.collapse(role='navigation')
                    ul.nav.navbar-nav
                        li.active: a(href='./') Demo
                        li: a(href='https://github.com/tehfreak/howto-bind-contenteditable-ngModel-example') Github

        main.b-view.container(ng-view)

    footer.b-footer--navbar.navbar.navbar-fixed-bottom(role='banner')
        .container
            .b-footer--navbar-header.navbar-header
                a.navbar-brand(href='./') angular-contenteditable
